<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CBFTimeSheets.My.MySettings.TimeSheetConnectionString" connectionString="Data Source=CURTIS_ENVY\SQLEXPRESS;Initial Catalog=TimeSheet;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
